* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
  
    color: inherit;
}

.home {
    padding: 100px 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: #272727;
  min-height: 100vh;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text_bold {
  font-weight: bold;
}

.explorer {
  flex-direction: column;
  max-width: 440px;
  min-width: 300px;
  font-size: 14px;
  gap: 20px;
  display: flex;
  color: white;  
  .form {
    display: flex;
    flex-direction: column;
    .inputs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
      input {
        margin-left: 10px;
      }
      #search-stars {
        max-width: 40px;
      }
    }
    .submit-btn {
      border-radius: 8px;
      padding: 1em;
      cursor: pointer;
    }
  }
  .card {
    padding: 30px 14px;
    border-radius: 12px;
    border: 1px solid white;
    background-color: #474747;

    text-align: initial;
    .title {
      text-align: center;
      margin-bottom: 12px;     
      text-transform: uppercase;
      cursor: pointer;
      
    }
    .description {
      max-width: 500px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
    }
    .info-list {
      list-style: none;
      margin-top: 10px;
      .item {
        display: flex;
        gap: 5px;
      }
    }
  }
  @media (min-width: 767px) {
    min-width: 640px;
    font-size: 24px;
  }
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .item {
    cursor: pointer;
    background-color: #474747;
    border-radius: 12px;
    padding: 10px;
    color: white;
  }

  @media (min-width: 767px) {
    font-size: 24px;
  }
}
